@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.bg-gradient-soft {
  @apply bg-gradient-to-b from-[#cdd7dc] via-[#dbe1e5] via-[#ebf0f0] to-[#f5fafa];
}

.custom-shadow {
  @apply shadow-[0_4px_20px_rgba(0,0,0,0.1)];
}


/* clases rotación cards*/

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.group:hover .group-hover\:rotate-card {
  transform: rotateY(180deg);
}

.group:hover .rotate-card-back {
  transform: rotateY(0deg);
}

.group-hover\:rotate-card {
  transform: rotateY(0deg);
  transition: transform 0.7s;
}

.rotate-card-back {
  transform: rotateY(-180deg);
  transition: transform 0.7s;
}
/* clases rotación cards*/

/*ANIMACIONES*/

.efectoReveal {
  animation-name: efectoReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes efectoReveal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


.leftReveal {
  animation-name: leftReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


@keyframes leftReveal {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
