@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  overflow-x: hidden;
  
}


.bg-gradient-soft {
  @apply bg-gradient-to-b from-[#cdd7dc] via-[#dbe1e5] via-[#ebf0f0] to-[#f5fafa];
}